@font-face {
  font-family: Jeju;
  src: url("../fonts/jejuhallasan/JejuHallasan-Regular.ttf");
}

.homeBG {
  background-image: url(../assets/space_Lizard2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font-family: Jeju;
}


.gameBG {
  background-image: url(../assets/space.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font-family: Jeju;
  
}

.rules{
  font-size: 20px;
  font-family: 'Inria Sans', sans-serif;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 90px;
  color: white;
}

.menuSpacer {
  height: 43vh;
}

.menuBtn {
  width: 20vw !important;

  height: 10vh !important;
  background-color: white;
  color: black;
  border-radius: 80px;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  
}
.menuBtn:hover {
  background-color: rgb(107, 107, 189);
}

.roundSpacer {
  height: 20vh;
}

.roundRows {
  height: 10vh;
}

.fill {
  background-color: white;
  height: 700px;
  border: black solid 3px;
}

.scores {
  color: white;
  font-size: 55px;
}

.icon {
  height: 15vh;

}
.icon:hover {
    cursor: pointer;
}


.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result{
  color: white;
  font-size: 55px;
  text-align: center;
}

.GoBtn {
  width: 90%;
  height: 25vh !important;
  background-color: black;
  color: red;
  border-radius: 80px;
  font-size: 90px;
  text-decoration: none;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
}
.GoBtn:hover {
  background-color: rgb(107, 107, 189);
}
.replayBtn {
  width: 90%;
  height: 25vh !important;
  background-color: black;
  color: red;
  border-radius: 80px;
  font-size: 90px;
  text-decoration: none;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
}
.replayBtn:hover {
  background-color: rgb(255, 255, 255);
}

.gameBtn {
  width: 40%;
  height: 10vh;
  background-color: white;
  color: black;
  border-radius: 80px;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
}
.gameBtn:hover {
  background-color: rgb(107, 107, 189);
}

.goTopSpacer {
  height: 8%;
}
.goMidSpacer {
  height: 5%;
}

.colHeight{
    height: 80vh;
}

.off{
    display: none !important;
}

.glowPink {
    color: #fff;
    animation: glow 0.5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.glowRed {
  color: #fff;
  animation: glowRed 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glowRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ed0000, 0 0 40px #ed0000, 0 0 50px #ed0000, 0 0 60px #ed0000, 0 0 70px #ed0000;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4646, 0 0 40px #ff4646, 0 0 50px #ff4646, 0 0 60px #ff4646, 0 0 70px #ff4646, 0 0 80px #ff4646;
  }
}


.glowGreen {
  color: #fff;
  animation: glowGreen 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glowGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #17e600, 0 0 40px #17e600, 0 0 50px #17e600, 0 0 60px #17e600, 0 0 70px #17e600;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6be598, 0 0 40px #6be598, 0 0 50px #6be598, 0 0 60px #6be598, 0 0 70px #6be598, 0 0 80px #6be598;
  }
}